body {
  font-family: 'Gabriola';
  margin: 0px;
}

header {
  display: flex;
  background-color: skyblue;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 6rem;
}

.container {
  display: flex;
  height: calc(100vh - 6rem);
  flex-direction: row;
}

.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: lightgray;
  overflow-y: auto;
}

.right {
  display: flex;
  flex: 3;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

#sidebarButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Filters,
.left button {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 0.2rem solid #aaa;
  cursor: pointer;
  background-color: white;
  width: 100%;
  text-align: center;
  transition: transform 0.2s ease;
}
#Filters:hover,
.left button:hover {
  background-color: skyblue;
  transform: scale(1.05);
}

#map {
  position: relative;
  display: flex;
  min-height: 25rem;
  justify-content: center;
  border-radius: 1rem;
  background-color: aliceblue;
  overflow: hidden;
}
#map img {
  position: absolute;
  border-radius: 0.5rem;
  z-index: 0;
}
#mapHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  border-bottom: 0.2rem solid #ccc;
  z-index: 1;
  text-align: center;
  line-height: 0.5rem;
  font-size: 1.5rem;
}
#mapLocation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-top: 0.2rem solid #ccc;
  z-index: 1;
  text-align: center;
  line-height: 0.5rem;
  font-size: 1.5rem;
}

.left::-webkit-scrollbar {
  width: 0.5rem;
}
.left::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
}

.right input{
  padding: 1rem;
  border-radius: 1rem;
  border: 0.2rem solid #aaa;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  text-align: center;
}

#post {
  position: absolute;
  background-color: white;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  width: 4rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid #888;
  color: black;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#post:hover {
  background-color: skyblue;
  transform: scale(1.2);
}

#bookmarkWindow {
  display: none;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background-color: aliceblue;
  border: 0.2rem solid #888;
  width: 100%;
  max-height: 20rem;
  overflow-y: auto;
}
#bookmarkWindow::-webkit-scrollbar {
  width: 0.5rem;
}
#bookmarkWindow::-webkit-scrollbar-track {
  margin: 0.5rem;
}
#bookmarkWindow::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
}

#filterWindow {
  display: none;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background-color: aliceblue;
  border: 0.2rem solid #888;
  width: 100%;
  max-height: 20rem;
  overflow-y: auto;
}
#filterWindow::-webkit-scrollbar {
  width: 0.5rem;
}
#filterWindow::-webkit-scrollbar-track {
  margin: 0.5rem;
}
#filterWindow::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
}

#choosenFilters {
  display: flex;
  gap: 0.2rem;
  max-width: 100%;
  overflow-x: auto;
}
#choosenFilters::-webkit-scrollbar {
  height: 0.5rem;
}
#choosenFilters::-webkit-scrollbar-track {
  margin: 0rem;
}
#choosenFilters::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
}