@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible", sans-serif;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
  padding: 15px;
}

#user-name {
    text-decoration: underline;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
    /* height: 100%; */
}

.images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* padding: 15px; */
    /* justify-content: flex-start; */
    gap: 20px;
    flex-wrap: wrap;
}



.previews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.image-preview {
    width:120px;
    height:180px;
    object-fit: cover;
    cursor: pointer;
    border: 5px solid transparent;
    transition: transform 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
}

.image-preview:hover {
    border: 5px solid #62b9f7;
    transform: scale(1.05);
    border-radius: 20px;
}

#main-photo {
    width: 350px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    font-size: 2rem;

}
.book-info {
    margin-bottom: 10px;
}

#author {
    font-size: 0.75em;
}

#price {
   
 margin-bottom: 10px;
}

#seller-name {
    margin-bottom: 10px;
}

#description {
    /* width: 70%; */
    min-width: 50%;
    max-width: 70%;
}

hr {
    border-color: #0E1111;
    width: 70%;
    opacity: 0.6;
    margin: 10px 0;
}

/* Tested in Chrome Dev Tools and this is when the grid layout falls apart */
@media (max-width: 1050px) {
  main {
    grid-template-columns: 1fr; 
  }

  .main-photo {
    grid-column: 1; 
  }

  .previews {
    grid-column: 1; 
  }
}
