@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red;/ */
    font-family: "Atkinson Hyperlegible", sans-serif;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
  padding: 15px;
}

#user-name {
    text-decoration: underline;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    /* height: 100%; */
}

.images {
    display: flex;
    justify-content: center;
    /* padding: 15px; */
    /* justify-content: flex-start; */
    /* width: 100%; */
    /* border: 1px solid red; */
}

.image-preview {
    width:100%;
    height:190px;
}

.previews {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 15px;
    gap: 10px;
}

.previews img {
    border: 3px solid transparent;
    transition: scale 2s ease-in;
}

.previews img:hover {
    border: 3px solid red;
    transform: scale(1.1);
}

#main-photo {
    width: 400px;
    margin-left: auto;
    padding-right: 40px;
    margin-right: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    font-size: 2rem;

}

#author {
    font-size: 0.75em;
}

#price {
   
 margin-bottom: 10px;
}

#seller-name {
    margin-bottom: 10px;
}

#description {
    width: 70%;
}

hr {
    border-color: #0E1111;
    width: 50%;
    opacity: 0.6;
    margin: 10px 0;
}

