* {
    margin: 0;
    padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid red;
  margin: 0 0 10px 0;
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
}

.images {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.image-preview {
    width:150px;
    height:150px;
}

.info {
    display: flex;
    flex-direction: column;
}

